<header>
    <a href="/main" class="logo">
        portfolio blog
    </a>
    <nav class="gnb">
        <div class="user">
            <img src="./img/header/user_icon.svg" alt="">
            <ul class="userInfo">
                <% if(userInfo) { %>
                    <li>
                        <%= userInfo.userName %>
                    </li>
                    <li>
                        <a href="/dashbord">글쓰기</a>
                    </li>
                <% } else { %>
                    <li>
                        <a href="/login">로그인</a>
                    </li>
                <% } %>
            </ul>
        </div>
    </nav>
</header>
